#game {
	width: 100vw;
	max-height: 100vh;
	margin: auto;
	position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    image-rendering: optimizeSpeed;
	image-rendering: -o-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}