/* general.css */
html, body {
	font-family: Lato;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.gridContainer {
	display: grid;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.absPos {
	position: absolute;
}

.relPos {
	position: relative;
}

.inlineContainer {
	display: inline;
}



