/* landing.css */

a, a:link, a:hover, a:visited, a:active {
	color:inherit;
	text-decoration: none;
}

#landing {
	width: 100vw;
	height: 100vh;
	background-color: black;
	color: white;
	overflow: hidden;
	grid-template-rows: 64px max-content auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
		"header header header"
		"left vid vid"
		"footer footer footer"
}

#navBar {
	grid-area: header;
	padding: 0 64px;
    width: 90%;
    justify-self: center;
    height: 64px;
}

#navBar div a {
	display: block;
}

#sponsorBar {
	grid-area: footer;
}

#getStarted {
/*	width: 50%;
*/	font-size: .75em;
    letter-spacing: .15em;
    position: relative;
    z-index: 9999;
}

.startButton {
	padding: 16px 16px 16px 0px;
}

.startButton a {
	background-color: #c83232;
	border: none;
	border-radius: 5px;
	color: white;
	margin: 0;
	padding: 17px 20px;
	font-weight: 700;
}

.leftText {
	bottom: 0;
	padding: 16px 16px 16px 64px;
}

.leftText h1 {
/*	transform: scaleX(.8);
*/	margin: 0;
	font-size: 7em;
    line-height: .9;
    font-family: Saira Extra Condensed;
}

.leftText h2 {
	font-family: Lato;
	margin: 24px 0px 48px;
	opacity: .6;
	font-size: 1.2em;
	line-height: 1.6;
    letter-spacing: 0.01em;
    font-weight: 300;
}

.leftText h3 {
	opacity: .8;
	font-weight: 700;
	letter-spacing: .01em;
	display: block;
	font-size: 100%;
	line-height: 1.5;
	padding: 0px 8px;
	margin: 0;
}

.left {
	grid-area: left;
}

.vidContainer {
	grid-area: vid;
	width: 100%;
	height: 37.5vw;
/*	padding: 16px;
*/}

.vidPlayer {
	width: 100%;
	height: 37.5vw;
	bottom: 0;
	border: none;
}

.logo {
	font-weight: 300;
	letter-spacing: .15em;
	padding: 22px 16px 22px 0px;
}

.login {
	font-size: 0.7em;
    letter-spacing: .15em;
    padding: 24px 0px 24px 16px;
}

a {
	cursor: pointer;
}
