/* lessons.css */

html, body {
	background-color: black;
	color: white;
}

#lesson-showcase {
	margin: auto;
}

.lesson-item {
	border-style: solid;
	border-color: rgba(255, 255, 255, 0);
	border-radius: 15px;
	overflow: hidden;
	width: 300px;
	height: 400px;
	margin-bottom: 40px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.lesson-card {
	position: absolute;
	top: 16px;
	left: 16px;
	right: 16px;
	bottom: 16px;
	cursor: pointer;
}

.lesson-thumbnail {
	min-width: 100%;
	max-height: 100%;
}

.thumbnail-container {
	overflow: hidden;
	border-radius: 15px;
	height: 66.66%;
}

.lesson-card h2 {
/*	text-transform: uppercase;
*/	letter-spacing: .15em;
	margin: 0;
	padding: 16px 8px;
	font-size: 100%;
}

.lesson-card p {
	font-size: .8em;
	opacity: .6;
	letter-spacing: .15em;
	margin: 0;
	padding: 0px 8px 16px 8px;
}

#nav-bar {
	width: 90vw;
	height: 64px;
	padding: 0 64px;
	margin: 0 auto;
}

#nav-bar div a {
	display: block;
	cursor: pointer;
}

.logo {
	font-weight: 300;
	letter-spacing: .15em;
	padding: 22px 16px 22px 0px;
}

.banner {
	text-align: center;
}

.banner h1 {
    letter-spacing: .3em;
    font-size: 4em;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 64px;
}

.logo-img {
	width: 10vw;
	margin: 24px auto;
}

.lesson-item:hover {
	animation-name: show-border;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-duration: 1s;
}

@keyframes show-border{
	from {border-color: rgba(255, 255, 255, 0);}
	to {border-color: rgba(255, 255, 255, .8);}
}
